dev/
build/
dist/
calc/figs/*
!calc/figs/.gitkeep
calc/saved/*
!calc/saved/.gitkeep
backups/
cratersfd.egg-info/
__pycache__/
examples/.ipynb_checkpoints/
examples/.DS_Store
src/.ipynb_checkpoints/
src/.DS_Store
src/cratersfd.egg-info/
src/cratersfd/.ipynb_checkpoints/
src/cratersfd/.DS_Store
src/cratersfd/cratersfd.egg-info/
.DS_Store
.ipynb_checkpoints/
cratersfd.egg-info/
calc/.ipynb_checkpoints/
calc/.DS_Store
calc/figs.zip
calc/saved_lite/
calc/saved.zip
calc/saved_lite.zip
src/cratersfd/README_pypi.md
src/cratersfd/LICENSE
src/cratersfd/setup.py
